@page "/"

<div class="main">
    @if (Specials is not null)
    {
        <ul class="pizza-cards">
            @foreach (PizzaSpecial item in Specials)
            {
                <li @onclick="@(()=>ShowConfigurePizzaDialog(item))"
                    style="background-image: url('@item.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@item.Name</span>
                        @item.Description
                        <span class="price">
                            @item.GetFormattedBasePrice()
                        </span>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="loading-bar"></div>
    }
</div>

<div class="sidebar">
    @if (MyOrder.Pizzas.Any())
    {
        <div class="order-contents">
            <h2>Your Order</h2>
            @foreach (Pizza pizza in MyOrder.Pizzas)
            {
                <ConfiguredPizzaItem MyPizza="pizza" OnRemoved="() => OnRemoved_Click(pizza)" />
            }
        </div>
    }
    else
    {
        <div class="empty-cart">
            Select a pizza<br /> to start your order.
        </div>
    }
    <div class="order-total @(MyOrder.Pizzas.Any() ? "":"hidden")">
        Total:
        <span class="total-price">@MyOrder.GetFormattedTotalPrice()</span>
        <br />
        <button type="button" class="btn btn-warning" @onclick="PlaceOrder">Order ></button>
    </div>
</div>

@if (ShowingConfigureDialog)
{
    <ConfigurePizzaDialog MyPizza="ConfiguringPizza" OnCancel="OnCancel_Click" OnConfirm="OnConfirm_Click" />
}