@page "/"

<div class="main">
    @if (Specials is not null)
    {
        <ul class="pizza-cards">
            @foreach (PizzaSpecial item in Specials)
            {
                <li @onclick="@(()=>ShowConfigurePizzaDialog(item))"
                    style="background-image: url('@item.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@item.Name</span>
                        @item.Description
                        <span class="price">
                            @item.GetFormattedBasePrice()
                        </span>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="loading-bar"></div>
    }
</div>

@if (ShowingConfigureDialog)
{
    <ConfigurePizzaDialog Pizza="ConfiguringPizza"/>
}