@page "/"

<div class="main">
    @if (Specials is not null)
    {
        <ul class="pizza-cards">
            @foreach (PizzaSpecial item in Specials)
            {
                <li @onclick="@(()=>MyOrderState.ShowConfigurePizzaDialog(item))"
                    style="background-image: url('@item.ImageUrl')">
                    <div class="pizza-info">
                        <span class="title">@item.Name</span>
                        @item.Description
                        <span class="price">
                            @item.GetFormattedBasePrice()
                        </span>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <div class="loading-bar"></div>
    }
</div>

<div class="sidebar">
    @if (MyOrderState.MyOrder.Pizzas.Any())
    {
        <div class="order-contents">
            <h2>Your Order</h2>
            @foreach (Pizza pizza in MyOrderState.MyOrder.Pizzas)
            {
                <ConfiguredPizzaItem MyPizza="pizza" OnRemoved="() => MyOrderState.RemovePizza(pizza)" />
            }
        </div>
    }
    else
    {
        <div class="empty-cart">
            Select pizza<br /> to start your order.
        </div>
    }
    <div class="order-total @(MyOrderState.MyOrder.Pizzas.Any() ? "":"hidden")">
        Total:
        <span class="total-price">@MyOrderState.MyOrder.GetFormattedTotalPrice()</span>
        <br />
        <a href="/checkout"  class="btn btn-warning">Order ></a>
    </div>
</div>

@if (MyOrderState.ShowingConfigureDialog)
{
    <ConfigurePizzaDialog MyPizza="MyOrderState.ConfiguringPizza" 
                          OnCancel="MyOrderState.Cancel" 
                          OnConfirm="MyOrderState.Confirm" />
}