<div class="dialog-container">
    <div class="dialog">
        <div class="dialog-title">
            <h2>@MyPizza.Special.Name</h2>
            @MyPizza.Special.Description
        </div>
        <form class="dialog-body">
            <div>
                <label>Size:</label>
                <input type="range"
                       min="@Pizza.MinimumSize"
                       max="@Pizza.MaximumSize"
                       step="@Pizza.IncrementSize"
                       @bind="MyPizza.Size"
                       @bind:event="oninput" />
                <span class="size-label">@MyPizza.Size cm ($ @MyPizza.GetFormattedBasePrice())</span>
            </div>
            <div>
                <label>Select your topping:</label>
                @if (Toppings is null)
                {
                    <div class="loading-bar"></div>
                }
                else if (MyPizza.Toppings.Count >= 6)
                {
                    <p>(Max toppings)</p>
                }
                else
                {
                    <select class="custom-select"
                            @bind="SelectedValue">
                        <option value="-1" disabled>(Select)</option>
                        @foreach (Topping item in Toppings)
                        {                          
                            <option value="@item.Id">
                                @item.Name ($ @item.GetFormattedBasePrice())
                            </option>                          
                        }                        
                    </select>
                }
            </div>
            <div class="toppings">
                @foreach (PizzaTopping item in MyPizza.Toppings)
                {
                    <div class="topping">
                        @item.Topping.Name
                        <span class="topping-price">
                            @item.Topping.GetFormattedBasePrice()
                        </span>
                        <button type="button" class="delete-topping" @onclick="(()=>RemoveTopping(item.Topping))">
                            x
                        </button>
                    </div>
                }
            </div>
        </form>
        <div class="dialog-buttons">
            <button class="btn btn-secondary mr-auto" @onclick="OnCancel">Cancel</button>
            <span class="mr-center">
                Price: <span class="price">@MyPizza.GetFormattedTotalPrice()</span>
            </span>
            <button class="btn btn-success ml-auto" @onclick="OnConfirm">Order ></button>
        </div>
    </div>
</div>
